* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100%;
  min-width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-family: "Lato";
  background-color: var(--bg-color);
  color: var(--text-color);
  z-index: 4;
}

main > * {
  z-index: 3;
}

h1 {
  font-weight: 1000;
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

.portraits {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

footer {
  width: 100%;
  margin-top: 100px;
  justify-content: space-between;
  flex: 1;
}

p {
  font-size: 22px;
}

:root {
  --bg-color: rgb(0, 0, 0);
  --text-color: white;
}

/* VISUALISATIONS */
#choropleth_map {
  margin: 10px;
}

#isotype-grid-gender,
#isotype-grid-military {
  padding-right: 30px;
}
/* END VISUALISATIONS */

/* FLEX CONTAINERS */
.section-row {
  display: flex;
  flex-direction: row;
}

.section-column {
  display: flex;
  flex-direction: column;
}

.section-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}
/* END FLEX CONTAINERS */

#first-section {
  align-items: center;
}

#second-section {
  align-items: center;
}

#fourth-section {
  margin-top: 30px;
}

#fifth-section {
  margin-top: 30px;
  width: 60%;
}

#first-section,
#second-section,
#third-section,
#fourth-section,
#fifth-section {
  gap: 30px;
}

#demographic-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 120px;
}

#flown-text-container {
  width: 400px;
  gap: 20px;
}

#eva-text-container {
  text-align: center;
  gap: 20px;
}

#eva-paragraph-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  gap: 30px;
}

#space-right-now {
  font-size: 36px;
}

.demographic-paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 350px;
}

.person-container {
  gap: 5px;
}

#first-male-female-container {
  justify-content: center;
  gap: 20px;
}

#age-container {
  align-items: center;
  gap: 20px;
}

.flags {
  margin-top: 5px;
  height: 20px;
  width: auto;
}

.person-flag {
  align-items: center;
  gap: 10px;
}

/* Portrait hover animation effect */
.portraits {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.portraits:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.figures {
  font-size: 28px;
}

.orange-highlight {
  color: #ff6a00;
}

#iss {
  animation: MoveUpDown 5s linear infinite;
}

/* Starry Background */
.background-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.stars {
  background: black
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
}

.twinkling {
  width: 10000px;
  height: 100%;
  background: transparent
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png")
    repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;

  -moz-animation: move-background 70s linear infinite;
  -ms-animation: move-background 70s linear infinite;
  -o-animation: move-background 70s linear infinite;
  -webkit-animation: move-background 70s linear infinite;
  animation: move-background 70s linear infinite;
}

@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-moz-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
/* End Starry Background */

/* Animation for ISS image */
@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
